#    This file is part of the ChannelAutoForwarder distribution (https://github.com/xditya/ChannelAutoForwarder).
#    Copyright (c) 2021 Adiya
#    
#    This program is free software: you can redistribute it and/or modify  
#    it under the terms of the GNU General Public License as published by  
#    the Free Software Foundation, version 3.
# 
#    This program is distributed in the hope that it will be useful, but 
#    WITHOUT ANY WARRANTY; without even the implied warranty of 
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
#    General Public License for more details.
# 
#    License can be found in < https://github.com/xditya/ChannelAutoForwarder/blob/main/License> .

# Do not copy the license into the .env file
# Do not use quotes (") in the values.

APP_ID= 14776412
API_HASH= 4a8bf0b626e08bad2d02a3e2f92d7e14
FROM_CHANNEL= -1001680854650
TO_CHANNEL= -1001659001488
SESSION= AQCN6PanenSM_nhZtey3PoOWxtr1PrT6lGIy8uPSR1V4JP2Qw1LyWKwOPrAigC7LM709jyzUMgNzmuaNG0oT12Ksq68AmPsACHtom0YeA4_Mb-xXwEmYaOb2KUrqobspQmmyWpq2yeHRNCXom6XzcT0R7pyW2f03rAQapWULX0Kj8ByToTBrwwIPYse5jzstZaSb-GeRCH-BV_jzlJfeIBUMZKCrINvntt456885Di7tQCBe-Kl3YF6JnT-CrT0jDujERLS7pPNMSTW4CM8JiXr-DM0hz52teYRn828ZjkL2XYppUgj_eaU-i3ax27wxaOEOIxAmfqvuZXAAXKa1G6HgAAAAATvyDv0A
