#    This file is part of the ChannelAutoForwarder distribution (https://github.com/xditya/ChannelAutoForwarder).
#    Copyright (c) 2021 Adiya
#    
#    This program is free software: you can redistribute it and/or modify  
#    it under the terms of the GNU General Public License as published by  
#    the Free Software Foundation, version 3.
# 
#    This program is distributed in the hope that it will be useful, but 
#    WITHOUT ANY WARRANTY; without even the implied warranty of 
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
#    General Public License for more details.
# 
#    License can be found in < https://github.com/xditya/ChannelAutoForwarder/blob/main/License> .

# Do not copy the license into the .env file
# Do not use quotes (") in the values.

APP_ID= 14776412
API_HASH= 4a8bf0b626e08bad2d02a3e2f92d7e14
FROM_CHANNEL= -1001680854650
TO_CHANNEL= -1001659001488
SESSION= AQAkI7AGZd-qQCIzo_LYhspr7y3XPDSfYeRO1vKpZnzLXJhvjADiwCYBprtCfdeG0TRcaMYEpYW4FkgFVWlV-Fvvh78sygLd9T2bqkKSzxXzY3V07n_IsbpWjbt0kQEFyibuAA-Gd6_jhTnukzJoFC1h_nK3Zfu0e2l63Rifiqa35lSOIWwUANEs-4FabuFUMgGkL0aZCEJw9pMT3syvfnwSv2Rq6hLetRaSeWs4IvF5Sd_4obqe-b5IM6FNSNRZNDWFO_pdQaxmQZcK_lMRwd6ubq-xRonMP6KFY4bXUwVkpev2HTVLztVpniYNSllG7zeLGazLj1T-HBpwYS4fJ3ldAAAAAUnszgoB
